
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/main.cshtml";
}

<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Forget Password</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Forget Password</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-page-area area-padding">
    <div class="container">
        <div class="row">
           
            <div class="col-md-6 col-sm-6 col-xs-12 col col-lg-offset-3">
                <h3>Forget Password</h3>
                <div class="contact-page area-padding">
                    <div class="contact-form">
                        <div class="row">
                            @using (Html.BeginForm("ForgetPassword", "Home"))
                            {
                                <div class="col-md-12 col-sm-12 col-xs-12 pp">
                                    <label>Enter Email</label>
                                    <input type="text" name="Email" class="form-control" />
                                    <div class="help-block with-errors">
                                        @if (TempData["Wrong"] == null)
                                        {

                                        }
                                        else
                                        {
                                            <span style="color:red">@TempData["Wrong"].ToString()</span>
                                        }
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <input type="submit" value="Submit" class="contact-btn"/>
                                   
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>