@model sabooedu.Areas.Auth.Models.Pages
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/main.cshtml";
}

@section meta
{
    <meta name="description" content="@Model.MetaDescription">
    <meta name="keywords" content="@Model.Keyword">
}
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>About us</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>
                        <li>About us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-page-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-content">
                    @Html.Raw(Model.Description)
                    @*<div class="about-details text-center">
                        <div class="single-about">
                            <div class="icon-title">
                                <a href="#"><i class="icon icon-checkmark-circle"></i></a>
                                <h5>Certified company</h5>
                            </div>
                            <p>The phrasal sequence of the Lorem Ipsum text is now so widespread</p>
                        </div>
                        <div class="single-about">
                            <div class="icon-title">
                                <a href="#"><i class="icon icon-thumbs-up"></i></a>
                                <h5>Our experience</h5>
                            </div>
                            <p>The phrasal sequence of the Lorem Ipsum text is now so widespread</p>
                        </div>
                    </div>*@
                </div>
            </div>
            <!-- column end -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-image">
                    <img src="~/Uploadimage/@Model.Image" alt="">
                </div>
            </div>
            <!-- column end -->
        </div>
    </div>
</div>