@model sabooedu.Areas.Auth.Models.Pages
@{
    ViewBag.Title = "WhyUs";
    Layout = "~/Views/Shared/main.cshtml";
}

@section meta
{
    <meta name="description" content="@Model.MetaDescription">
    <meta name="keywords" content="2">
}
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Why Us</h3>
                    </div>
                    <ul>
                        <li class="home-bread">About Us</li>
                        <li>Why us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="video-page-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="video-text">
                    <h4>Watch our company programe video for future industry construction.</h4>
                    <p>
                        Redug Lares dolor sit amet, consectetur adipisicing elit. Animi vero excepturi magnam ducimus adipisci voluptas, praesentium maxime necessitatibus.ducimus adipisci voluptas, praesentium maxime necessitatibus.
                    </p>
                    <ul class="marker-list">
                        <li>Lares dolor sit amet.</li>
                        <li>Animi vero excepturi magnam.</li>
                        <li>ducimus adipisci voluptas.</li>
                        <li>consectetur adipisicing elit.</li>
                        <li>praesentium maxime necessitatibus.</li>
                    </ul>
                </div>
            </div>
            @*<div class="col-md-6 col-sm-6 col-xs-12">
                <div class="video-inner text-center">
                    <div class="video-content">
                        <a href="https://www.youtube.com/watch?v=O33uuBh6nXA" class="video-play vid-zone">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>*@
        </div>
        <!-- end Row -->
    </div>
</div>

